body, html{
    margin: 0;
    padding: 0;
    border: 0;
}

.splash-container-left{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgb(226, 225, 225, .5);
}

.splash-container-right{
    height: 100vh;
    width: 150%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;

}

.header{
    color: black;
    font-size: 50px;
    height: 150px;
    font-family: 'Titan One', cursive;
    border: 0;
    margin: -50px;
    padding: 0;
}

.sub-header{
    color: black;
    font-size: 30px;
    height: 100px;
    font-family: 'Titan One', cursive;
    border: 0;
    margin: 0;
    padding: 0;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

span span {
    position: relative;
    opacity: 0;
    animation: move-text 0.75s forwards;
    font: normal normal normal 14px/1.4em "Titan One", cursive;
    color: red;
    font-size: 30px;
}

h1 span span:nth-child(2n) {
    color: orange;
}

@keyframes move-text {
    0% { bottom: -0.2em; opacity: 1; }
    50% { top: 0.2em; }
    100% { left: 0; opacity: 1; }
}


.bio{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .sliderimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: 100%;
} */

@media screen and (max-width: 768px){
    .splash-container-left{
        width: 100%;
    }

    .splash-container-right{
        width: 100%;
    }

    .header{
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .sub-header{
        font-size: 20px;
    }


}
